<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TSV/JSON Test</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.2.2.min.js"
			  integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
			  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container" style="padding:40px;">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Proof of Concept for File Level Metadata <br /> Dataverse TSV files converted to JSON schemas</b></div>
                    <div class="panel-body">
                        <p>
                            <a href="{% url 'view_make_all_json_schemas' %}" class="btn-sm btn-info">Create JSON Schemas for all TSVs</a> (This will overwrite existing schemas)
                            <br />&nbsp;
                        </p>
                        <table class="table table-bordered">
                            <thead>
                                <th>TSV file name</th>
                                <th>Associated JSON schema</th>
                                <th>Show schema in editor</th>
                            </thead>
                            <tbody>
                            {% for file_info in json_files %}
                                <tr>
                                    <td>{{ file_info.0 }}</td>
                                    <td>{% if file_info.1 %}
                                            {{ file_info.1}}
                                        {% else %}
                                            <a href="{% url 'view_make_json_schema' %}?tsv={{ file_info.0 }}" class="btn-sm btn-info">Create JSON schema</a>
                                    {% endif %}</td>
                                    <td>{% if file_info.1 %}<a class="btn-sm btn-success" href="{% url 'view_json_form' %}?schema={{ file_info.1 }}">{{ file_info.1 }}</a>
                                        {% else %}(n/a)
                                    {% endif %}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="2">Sorry! There are no JSON files in
                                        <code>{{ JSON_SCHEMA_DIR }}</code></td>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p>
                            <a href="{% url 'view_delete_all_json_schemas' %}" class="btn-sm btn-danger">Delete all JSON Schemas</a>
                            <br />&nbsp;
                        </p>
                        <hr />
                        <hr />
                            <ul>
                                <li>TSV directory:
                                    <code>{{ TSV_FILE_DIR }}</code></li>
                               <li>JSON schema directory:
                                   <code>{{ JSON_SCHEMA_DIR }}</code></li>
                                <li>Dataverse TSVs on github: <a href="https://github.com/IQSS/dataverse/tree/develop/scripts/api/data/metadatablocks">https://github.com/IQSS/dataverse/tree/develop/scripts/api/data/metadatablocks</a></li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
